@import "./material-styles.css";

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  font-family: 'Google-sans';

  overflow: hidden;

  user-select: none;
}

.styled-scrollbar {
  scrollbar-gutter: stable both-edges;
}

.styled-scrollbar::-webkit-scrollbar,
.styled-scrollbar ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.styled-scrollbar::-webkit-scrollbar-track,
.styled-scrollbar ::-webkit-scrollbar-track {
  background: transparent;
}
.styled-scrollbar::-webkit-scrollbar-thumb,
.styled-scrollbar ::-webkit-scrollbar-thumb {
  background: rgb(var(--m3-scheme-primary) / 0.9);
  border-radius: 4px;
}
.styled-scrollbar::-webkit-scrollbar-thumb:hover,
.styled-scrollbar ::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--m3-scheme-primary));
}
.styled-scrollbar::-webkit-scrollbar-corner,
.styled-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

.mobile .styled-scrollbar {
  scrollbar-width: none;
  overscroll-behavior: contain;
}


.font-headline {
  font-size: 1.35rem;
}
.font-headline-small {
  font-size: 1.2rem;
}

.font-label {
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.00625rem;
  font-weight: 500;
}

.font-body {
  font-size: 0.95rem;
}
.font-body-medium {
  font-size: 0.85rem;
}

#app {
  height: 100%;
  width: 100%;

  display: flex;
}

.scroll-shadow {
  position: relative;
}

.scroll-shadow.overflow-top::before {
  background: linear-gradient(
    to bottom,
    rgb(var(--scroll-shadow-color) / 0.8),
    transparent
  );
  content: "";
  width: 100%;
  position: absolute;
  height: 40px;
  z-index: 2;
  top: 0;

  pointer-events: none;
}

.scroll-shadow.overflow-bottom::after {
  background: linear-gradient(
    to top,
    rgb(var(--scroll-shadow-color) / 0.8),
    transparent
  );
  content: "";
  width: 100%;
  position: absolute;
  height: 40px;
  z-index: 2;
  bottom: 0;

  pointer-events: none;
}

a, a:visited {
  color: rgb(var(--m3-scheme-primary));
  transition: color 0.15s;
}

a:hover {
  color: rgb(var(--m3-scheme-primary) / 0.8);
}


/* ? Settings Styles */
.settings-entry {
  width: calc(100% - 1rem);
  max-width: 600px;
  margin: 0 0.5rem;
}


/* ? Details Styles */
.details h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.5rem;
}

.details h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.5rem;
}

.details .body-text {
  line-height: 1.5rem;

  color: rgb(var(--m3-scheme-on-surface-variant));

  font-size: 1rem;
}

.loading-container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}